/* style code */

.tablebox {
  margin: 0 auto;
  width: 50%;
}


th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
}

td {
  border: 2px solid black;
  padding: 8px;
}


td:first-child,
th:first-child {
  border: 2px solid black;
}

td:last-child,
th:last-child {
  border: 2px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead,
tbody {
  border-bottom: 1px solid #ddd;
}


tr {
  border: 2px solid black;
}

.tablebox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2,
h4 {
  text-align: center;
}